config fancontrol settings
    option enabled '0'
    option thermal_file '/sys/devices/virtual/thermal/thermal_zone0/temp'
    option fan_file '/sys/devices/virtual/thermal/cooling_device0/cur_state'
    option thresholds '100,90,80,75,60,65,60,50,45'
    option speeds '255,220,185,150,115,95,80,60,30'